#pubs {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
}

@media only screen and (max-width: 680px) {
    #pubs {
        overflow: scroll;
    }
  }
  

.my-map
{
  border-top: solid 2px orange;
  border-right: solid 2px orange;
  border-left: solid 2px orange;
  height: 200px;
  padding-left: 0px;
  padding-right: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
body {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  background-image: url("../img/beerbg.jpeg"); 
  color: brown;
  background-size: cover;
  background-attachment: fixed;
  background-color:transparent;
}
/* .bg-img {
    background-image: url("../img/beerbg.jpg"); 
    color: brown;
    background-size: cover;
    background-repeat: no-repeat;
  } */
.container {
    text-align: center;
}
.title-text {
    font-family: 'Sigmar One', cursive;
    text-align: center;
    text-shadow: 3px 2px 5px orangered;
    font-size: 3em;
    padding-top: 10px;
}
.sub-text {
    text-align: center;
    font-family: 'Sigmar One', cursive;
    text-shadow: 2px 2px 5px orangered;
    font-size: 1em;
    margin-top: .1em;
}
.heading {
    color: yellow;
    padding-top: 1em;
}

.my-search {
    width: 250px;
    margin-left: auto;
    margin-right:  auto;
    margin-bottom: 1em;
    text-align: center;
    margin-top: 0px;
    border-radius: 5px; 
}

.my-btn {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    min-width: 100px;
    border-radius: 5px;
    text-align: center;
    background-color: yellow;
    color:orangered;
    font-family: 'Sigmar One', cursive; 
}
.my-btn:hover {
    border-radius: 5px;
    text-align: center;
    background-color: orangered ;
    color: yellow;
    font-family: 'Sigmar One', cursive; 
}

.my-btn:focus {
    background-color: orangered;
  }

.search-form {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}
.card {
    background-color:black;
    padding: 0px;
    border-radius: 5px;
}

.card-heading {
    font-size: 1.5em;
    color:yellow;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
}
.bar-address {
    font-size: 1em;
    color: white;
    padding-left: 1em;
}

.card-heading a:link {
    color: yellow;
    text-decoration: underline;
}
.card-heading a:hover {
    color: goldenrod;
    text-decoration: underline;
}
